.form {
	padding: 1rem 0rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.3rem;

	&__group {
		display: flex;
		gap: 1.5rem;
	}

	&__radio-group {
		display: flex;
		gap: 1.5rem;
		font-size: 1.3rem;
	}

	&__radio-label {
		font-size: 1.6rem;
		display: flex;
		align-items: center;
		gap: 0.5rem;

		&:hover {
			cursor: pointer;
		}
	}

	&__radio-input {
		accent-color: var(--primary-color);
		transform: scale(1.2);
		cursor: pointer;
	}

	&__input {
		font-size: 1.5rem;
		font-family: inherit;
		padding: 0.5rem;
		border-radius: 1.2rem;
		outline: 2px solid var(--primary-color);
		outline-offset: 0.3rem;
		border: none;
		background-color: transparent;
		color: var(--primary-color);
		font-weight: 500;

		&:focus {
			outline-offset: 0.5rem;
			transition: all 0.15s;
		}

		&::placeholder {
			color: var(--primary-color);
		}
	}
}
